/* You can add global styles to this file, and also import other style files */

@import './styles/fonts';
@import './styles/global';
body{
    background-image: url('../src/assets/appointment-book-blur-care-40568.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}