<div id="wrapper">

  <h1>Sign in</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="emailError?.required">This is required.</mat-error>
      <mat-error *ngIf="emailError?.email">Invalid email.</mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="passwordError?.required">This is required.</mat-error>
      <mat-error *ngIf="passwordError?.minlength">Password is too short.</mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="!isProgressing">LOGIN</button>

  </form>

</div>
